.auto-style1 {
	font-family: Helvetica;
}
.auto-style2 {
	text-align: center;
	font-family: Roboto;
	font-size: medium;
}
.auto-style3 {
	font-size: medium;
}
.auto-style4 {
	font-family: Helvetica;
	font-size: medium;
}
.auto-style5 {
	font-size: medium;
	color: black;
}
.auto-style6 {
	text-align: left;
	font-family: "Lucida Sans";
}
.auto-style7 {
	font-family: "Lucida Sans";
}
.auto-style10 {
	text-align: center;
	font-family: "Lucida Sans";
}
.auto-style13 {
	text-align: center;
	font-family: Helvetica;
}
.auto-style14 {
	font-family: Roboto;
}
.auto-style15 {
	text-align: center;
	font-family: Roboto;
}
.auto-style16 {
	text-align: left;
	font-family: Roboto;
}
.auto-style17 {
	font-family: Roboto;
	font-size: medium;
}
.auto-style18 {
	font-size: medium;
	color: black;
	font-family: Roboto;
}