<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="DynamicRewriteRemoveHTML" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}\.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="/{R:1}" />
                </rule>
                <rule name="DynamicRewriteRemoveHTM" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}\.htm" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="/{R:1}" />
                </rule>

                <!-- this works for all html file -->
                <rule name="rewrite html">
                    <match url="(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" negate="true" pattern="(.*).(.*)" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.(.*)" />
				</rule> 
                <rule name="rewrite htm">
                    <match url="(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" negate="true" pattern="(.*).htm" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.htm" />
				</rule> 
                <!-- this works  -->
                 <rule name="Testing rewrite">
                    <match url="^search" />
                    <action type="Rewrite" url="search.htm" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
