vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Aug 2019 14:55:38 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|LAPTOP-A0A7K986\\BLADE-2
vti_modifiedby:SR|LAPTOP-C5R8E0B6\\George Smart
vti_timecreated:TR|25 Sep 2018 20:57:12 -0000
vti_backlinkinfo:VX|
vti_syncwith_216.250.117.47\:21/%2fhttpdocs:TX|25 Sep 2018 20:57:12 -0000
vti_syncofs_216.250.117.47\:21/%2fhttpdocs:TW|25 Sep 2018 21:06:00 -0000
vti_nexttolasttimemodified:TR|26 Jun 2019 00:41:41 -0000
vti_syncwith_ftp.usmodernist.org\:21/httpdocs:TX|13 Aug 2019 14:55:38 -0000
vti_syncofs_ftp.usmodernist.org\:21/httpdocs:TW|13 Aug 2019 15:02:00 -0000
vti_cacheddtm:TX|13 Aug 2019 14:55:38 -0000
vti_filesize:IR|4061
