vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2019 16:57:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|LAPTOP-A0A7K986\\BLADE-2
vti_modifiedby:SR|LAPTOP-C5R8E0B6\\George Smart
vti_timecreated:TR|25 Sep 2018 20:57:12 -0000
vti_backlinkinfo:VX|
vti_syncwith_216.250.117.47\:21/%2fhttpdocs:TX|25 Sep 2018 20:57:12 -0000
vti_syncofs_216.250.117.47\:21/%2fhttpdocs:TW|25 Sep 2018 21:06:00 -0000
vti_cacheddtm:TX|25 Jun 2019 16:57:28 -0000
vti_filesize:IR|13064
vti_cachedlinkinfo:VX|Q|//fonts.googleapis.com/css S|../img/blog.png S|../img/forum.png S|../img/knowledge-base.png S|../img/facebook.png S|../img/twitter.png S|../img/google-plus.png S|../img/asp-net.png S|../img/python.png S|../img/php.png S|../img/perl.png S|../img/globe.png S|../img/ok.png S|../img/warning.png
vti_cachedsvcrellinks:VX|NQUS|//fonts.googleapis.com/css FSUS|img/blog.png FSUS|img/forum.png FSUS|img/knowledge-base.png FSUS|img/facebook.png FSUS|img/twitter.png NSUS|img/google-plus.png FSUS|img/asp-net.png FSUS|img/python.png FSUS|img/php.png FSUS|img/perl.png FSUS|img/globe.png FSUS|img/ok.png FSUS|img/warning.png
vti_syncwith_ftp.usmodernist.org\:21/httpdocs:TX|25 Jun 2019 16:57:28 -0000
vti_syncofs_ftp.usmodernist.org\:21/httpdocs:TW|26 Jun 2019 01:13:00 -0000
